:root {
  --branding-color-pink: #f0acc9;
  --primary-color-blue: #3b61a9;
  --secundary-color-orange: #f18d1f;
}
@font-face {
  font-family: Nourd;
  src: url("fonts/Copia de nourd_bold.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  src: url("fonts/Copia de Poppins-Regular.ttf") format("truetype");
}
* {
  background-color: var(--branding-color-pink);
}
h3,
h5,
p {
  font-family: Poppins;
}
h1,
h2 {
  font-family: Nourd;
}
.OURMOTTO {
  font-family: Nourd;
}
