:root {
  --branding-color-pink: #f0acc9;
  --primary-color-blue: #3b61a9;
  --secundary-color-orange: #f18d1f;
}
@font-face {
  font-family: Nourd;
  src: url("fonts/Copia de nourd_bold.ttf") format("truetype");
}
@font-face {
  font-family: Poppins;
  src: url("fonts/Copia de Poppins-Regular.ttf") format("truetype");
}
* {
  background-color: var(--branding-color-pink);
}
div {
  text-align: center;
}
.QUOTE {
  font-family: Nourd;
}
.MOTTOSEC {
  display: inline;
  align-content: center;
  font-family: Nourd;
}
.OURMOTTOTITTLE {
  font-family: Nourd;
  font-size: 67pt;
}
.OURMOTTOSUB {
  font-family: Nourd;
  font-size: 32pt;
}
.OURMOTTOTEXT {
  font-family: Poppins;
  font-size: 16pt;
}
.MENU a {
  display: inline;
  align-content: center;
}
.YAKU {
  font-family: Nourd;
  font-size: 94pt;
}
.LOOKINGFOR {
  font-family: Nourd;
  font-size: 53pt;
}
.LOOKINGFORTEXT {
  font-family: Poppins;
  font-size: 16pt;
}
.LETS {
  font-family: Nourd;
  font-size: 53pt;
}
.bluebutton {
  font-family: Poppins;
  font-size: 26pt;
  background-color: #3b61a9;
  color: white;
  border-radius: 8px;
  border-width: 0px;
  padding: 5px 8px;
}
.orangebutton {
  font-family: Poppins;
  font-size: 26pt;
  background-color: #f18d1f;
  color: white;
}
.outlinebutton {
  font-family: Poppins;
  font-size: 26pt;
  outline-color: #f18d1f;
  outline-width: 2px;
  color: white;
}
